.tags {
    margin-top: 30px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.tag {
    color: var(--muted);
    background: var(--surface);
    border: 1px solid var(--border);
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
