/* Color Switch */

.switch {
    user-select: none;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--surface);
    border-radius: 26px;
    border: 1px solid var(--border);
}

@media (hover: hover) and (pointer: fine) {
    .slider:hover {
        border: 1px solid var(--text);
    }
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: var(--muted);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    background-color: var(--bg);
}

input:checked+.slider {
    background-color: var(--surface);
}

input:checked+.slider:before {
    transform: translateX(24px);
}
