html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, var(--bg), var(--bg2));
    margin: 0;
}

p,
span,
li,
a {
    color: var(--muted);
    line-height: 1.7;
    font-size: var(--font-size);
    font-family: var(--sans);
}

h1,
h2,
h3 {
    color: var(--text);
    font-family: var(--serif);
}

a {

    text-decoration: none;
}

* {
    box-sizing: border-box;
}
